main {
  background: black;
  padding: 32px;
  width: fit-content;
  border-radius: 16px;
}

.err {
  color: red;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
}

.grid {
  display: grid;
  height: 300px;
  width: 300px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template:
    ". . del del"
    ". . . ."
    ". . . ."
    ". . . eql"
    "zero zero . eql";
}

h1 {
  background: #4e4b4b;
  color: #fff;
  padding: 4px 8px;
  width: calc(300px - 16px);
  margin-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  border-radius: 4px;

}

.button {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #fff solid 1px;
  cursor: pointer;
}

.del {
  grid-area: del;
}
.zero {
  grid-area: zero;
}
.eql {
  grid-area: eql;
}
